@model newrisourcecenter.Models.SalesCommViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SalesCommViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.n2ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n2ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_teaser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_teaser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_products)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_products)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_usrTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_usrTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sc_industry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sc_industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.old_scid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.old_scid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.scID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
