@model IEnumerable<newrisourcecenter.Models.Nav2ViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="dropdown" style="display:inline-block;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            @Model.LastOrDefault().nav2labels.FirstOrDefault().filter_link_label[0]
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="?parentid=0&n1_name=@Request.QueryString["n1_name"]&msg=@ViewBag.n1_name">@ViewBag.n1_name</a></li>
            @foreach (var item in @ViewBag.list_n1ID)
            {
                <li><a href="?parentid=@item.id&msg=@item.name&n1_name=@Request.QueryString["n1_name"]">@item.name</a></li>
            }
        </ul>
    </div>

    <div class="dropdown" style="display:inline-block;">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            @Model.LastOrDefault().nav2labels.FirstOrDefault().add_link_label[0]
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="~/Nav2ViewModel/Create?parentid=0&n1_name=@Request.QueryString["n1_name"]&msg=@ViewBag.n1_name">@ViewBag.n1_name</a></li>
            @foreach (var item in @ViewBag.list_n1ID)
            {
                <li><a href="~/Nav2ViewModel/Create?parentid=@item.id&n1_name=@Request.QueryString["n1_name"]&msg=@item.name">@item.name</a></li>
            }
        </ul>
    </div>

</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Model.LastOrDefault().nav2labels.FirstOrDefault().n2order_label[0]
                @if (Request.QueryString["translate"] != null)
                {
                    @Html.ActionLink("T", "Create", "Labels", new { labelName = @Model.LastOrDefault().nav2labels.FirstOrDefault().n2order_label[1], controllerName = "Nav2ViewModel", pageName = "Index", n1_name = "Translate Page Labels", msg = Request.QueryString["n1_name"] }, htmlAttributes: new { @id = "translate", @class = "glyphicon glyphicon-edit" })
                }
            </th>
            <th>
                @Model.LastOrDefault().nav2labels.FirstOrDefault().n2_nameLong_label[0]
                @if (Request.QueryString["translate"] != null)
                {
                    @Html.ActionLink("T", "Create", "Labels", new { labelName = @Model.LastOrDefault().nav2labels.FirstOrDefault().n2_nameLong_label[1], controllerName = "Nav2ViewModel", pageName = "Index", n1_name = "Translate Page Labels", msg = Request.QueryString["n1_name"] }, htmlAttributes: new { @id = "translate", @class = "glyphicon glyphicon-edit" })
                }
            </th>
            <th>
                @Model.LastOrDefault().nav2labels.FirstOrDefault().n2_descLong_label[0]
                @if (Request.QueryString["translate"] != null)
                {
                    @Html.ActionLink("T", "Create", "Labels", new { labelName = @Model.LastOrDefault().nav2labels.FirstOrDefault().n2_descLong_label[1], controllerName = "Nav2ViewModel", pageName = "Index", n1_name = "Translate Page Labels", msg = Request.QueryString["n1_name"] }, htmlAttributes: new { @id = "translate", @class = "glyphicon glyphicon-edit" })
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.n2order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.n2_nameLong)
                @if (Request.QueryString["translate"] != null)
                {
                    @Html.ActionLink("T", "Create", "Localization", new { parent_id = @item.n2ID, tableName = "nav2", columnName = "n2_nameLong", message = @item.n2_nameLong, n1_name = "Translate Page Content", msg = Request.QueryString["n1_name"] }, htmlAttributes: new { @id = "translate", @class = "glyphicon glyphicon-edit" })
                }
            </td>
            <td>
                @Html.Raw(item.n2_descLong)
                @if (Request.QueryString["translate"] != null)
                {
                    @Html.ActionLink("T", "Create", "Localization", new { parent_id = @item.n2ID, tableName = "nav2", columnName = "n2_descLong", message = @item.n2_descLong, n1_name = "Translate Page Content", msg = Request.QueryString["n1_name"] }, htmlAttributes: new { @id = "translate", @class = "glyphicon glyphicon-edit" })
                }
            </td>
            <td>
               @{ string[] reserved = { "1", "2","4","8","11","12","13","17","21","23","7" }; }
                @Html.ActionLink(@Model.LastOrDefault().nav2labels.FirstOrDefault().edit_label[0], "Edit", new { id = item.n2ID, parentid = Request.QueryString["parentid"], n1_name = Request.QueryString["n1_name"], msg = Request.QueryString["msg"], img = item.n2_headerImg }, new { @class = "btn btn-info" })
                @if (Request.QueryString["translate"] != null)
                {
                    @Html.ActionLink("T", "Create", "Labels", new { labelName = @Model.LastOrDefault().nav2labels.FirstOrDefault().edit_label[1], controllerName = "Nav2ViewModel", pageName = "Index", n1_name = "Translate Page Labels", msg = Request.QueryString["n1_name"] }, htmlAttributes: new { @id = "translate", @class = "glyphicon glyphicon-edit" })
                }
                @if(!reserved.Contains(item.n2ID.ToString())) {          
                    @Html.ActionLink(@Model.LastOrDefault().nav2labels.FirstOrDefault().delete_label[0], "Delete", new { id = item.n2ID, parentid = Request.QueryString["parentid"], n1_name = Request.QueryString["n1_name"], msg = Request.QueryString["msg"] }, htmlAttributes: new { id = "delete", onclick = "deletef(this.href);return false", @class = "btn btn-info" })
                    if (Request.QueryString["translate"] != null)
                    {
                        @Html.ActionLink("T", "Create", "Labels", new { labelName = @Model.LastOrDefault().nav2labels.FirstOrDefault().delete_label[1], controllerName = "Nav2ViewModel", pageName = "Index", n1_name = "Translate Page Labels", msg = Request.QueryString["n1_name"] }, htmlAttributes: new { @id = "translate", @class = "glyphicon glyphicon-edit" })
                    } 
                }
            </td>
        </tr>
    }
    </tbody>
</table>
