@model newrisourcecenter.Models.LitRequestedViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LitRequestedViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lit_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lit_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lit_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lit_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usr_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usr_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rlit_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
