@model newrisourcecenter.Models.Nav3ViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Level 3 Item Information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.n2ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n2ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_nameShort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_nameShort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_nameLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_nameLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_descShort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_descShort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_descLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_descLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_products)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_products)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_usrTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_usrTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_editBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_editBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_editDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_editDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_redirect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_redirect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n3_industry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n3_industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.old_n3id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.old_n3id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.old_n2id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.old_n2id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.n3ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
