@model IEnumerable<newrisourcecenter.Models.partnerLocationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).on('change', '.selectpicker', function (e) {
        if ($(this).val() == '')
            return;
        var url = $(this).val();
        if (!$(this).hasClass('ajax-filter')) {
            window.location.href = url;
            return;
        }
        $(this).closest('.bootstrap-select.open').removeClass('open');
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function () {
                $('table.table').css('opacity', '0.5');
            },
            success: function (result) {
                $('table.table tbody#tbody').html(result);
                window.history.pushState({ path: url }, '', url);
                $('table.table').css('opacity', '1');

            },
            error: function () {
                alert("Error loading data. Please try again.");
                $('table.table').css('opacity', '1');
            }
        });
    });
</script>
@if (@Model != null)
{
    if (User.IsInRole("Super Admin") || User.IsInRole("Local Admin") && User.IsInRole("Rittal User") || User.IsInRole("Global Admin"))
    {
        <div>
            <div class="dropdown" style="display:inline-block;">
                <select class="selectpicker ajax-filter" data-live-search="true" title="Filter By Company">
                    @foreach (var item in @ViewBag.partnerComp)
                    {
                        <option value="~/partnerLocation/?comp_id=@item.comp_ID&n1_name=@Request.QueryString["n1_name"]&n2_name=@item.comp_name">@item.comp_name</option>
                    }
                </select>
            </div>
            <div class="dropdown" style="display:inline-block;">
                <select class="selectpicker" data-live-search="true" title="Add a Company Location">
                    @foreach (var item in @ViewBag.partnerComp)
                    {
                        <option value="~/partnerLocation/Create/?comp_id=@item.comp_ID&n1_name=@Request.QueryString["n1_name"]&n2_name=@item.comp_name">@item.comp_name</option>
                    }
                </select>
            </div>
        </div>
        <br/>
        <div class="clearfix"></div>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.loc_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.loc_phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.loc_logo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody">
            @Html.Partial("_PartnerLocationTable",Model)
        </tbody>
    </table>
}else{
<div>You are not allowed here</div>
}