@model IEnumerable<newrisourcecenter.Models.partnerCompanyViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var adminpanel = {
        init: function () {
            var filter_form = $("#submit_search");
            filter_form.on('click', adminpanel.submit_filter_form);
        },
        submit_filter_form:function(e){
            e.preventDefault();
            $.post("/partnerCompany/searchCompany/?form_value=" + $("#form_value").val() + "&n1_name=Admin Users", function (result) {
                $("#tabledata").empty();
                $("#tabledata").html(result);
            });
        },
    }
    jQuery(document).ready(adminpanel.init);
</script>

@if (@Model != null)
{
    if (User.IsInRole("Super Admin") || User.IsInRole("Local Admin") && User.IsInRole("Rittal User") || User.IsInRole("Global Admin"))
    {
        <table>
            <tr>
                <td>
                    @Html.ActionLink("Add Company", "Create", new { n1_name = Request.QueryString["n1_name"], msg = "Add Company" }, htmlAttributes: new { @class = "btn btn-primary" })
                </td>
                <td>
                    <form>
                        <span class="input-group stylish-input-group" style="width:300px;">
                            <input type="text" id="form_value" value="" placeholder="Search on Company Name" class="form-control" list="companyNames" />
                            <datalist id="companyNames">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.comp_name" />
                                }
                            </datalist>
                            <span class="input-group-addon" id="submit_search">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </span>
                    </form>
                </td>
            </tr>
        </table>

    }
    <br />
<div id="tabledata">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.comp_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comp_MDF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comp_MDF_amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comp_MDF_tLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comp_MDF_aLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comp_MDF_mLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comp_MKT_Limit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comp_region)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.comp_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comp_MDF)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.comp_MDF_amount)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.comp_MDF_tLimit)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.comp_MDF_aLimit)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.comp_MDF_mLimit)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.comp_MKT_Limit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.comp_region)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.comp_ID, n1_name = Request.QueryString["n1_name"], msg = item.comp_name }, new { @class = "btn btn-info" })

                        @if (User.IsInRole("Super Admin") || User.IsInRole("Global Admin"))
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.comp_ID, n1_name = Request.QueryString["n1_name"] }, htmlAttributes: new { id = "delete", onclick = "deletef(this.href);return false", @class = "btn btn-info" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}