@model IEnumerable<newrisourcecenter.Models.PartnerApplicationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Add an Icon", "Create", new { n1_name = @Request.QueryString["n1_name"], msg = "Add an Icon" }, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.appli_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.appli_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.appli_id, n1_name = @Request.QueryString["n1_name"], msg = item.appli_name }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.appli_id, n1_name = @Request.QueryString["n1_name"] }, htmlAttributes: new { id = "delete", onclick = "deletef(this.href);return false", @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>


