@model newrisourcecenter.Models.MDFViewModel
@using Newtonsoft.Json
@{
    bool isArchive = ViewBag.IsArchive ?? false;
}
@if (@Model.company_metrics.Count() != 0)
{
    <h4>Company Balances</h4>
    <table class="table">
        <thead style="background:gray;">
            <tr>
                <th width="10%" class="header">&nbsp;</th>
                <th width="10%" class="header">Promotional Activities</th>
                <th width="10%" class="header">Other Activity</th>
                <th width="10%" class="header">Promotional Event</th>
                <th width="10%" class="header">Training</th>
                <th width="10%" class="header">Merchandise</th>
                <th width="10%" class="header">Display Product</th>
                <th class="header">Totals</th>
                <td width="4%" style="border-bottom:none;border-top:none;background:#292929;">&nbsp;</td>
                <th class="header" width="10%">MKT Funds</th>
            </tr>
        </thead>
        <thead>
        </thead>
        <tbody>
            <tr>
                <th align="right">Pct Used</th>
                @if (@Model.company_metrics.FirstOrDefault().PercentagePromotionalActivityUsed < 100)
                {
                    <td align="center">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentagePromotionalActivityUsed / 100) </td>
                }
                else
                {
                    <td align="center" style="color:red;font-weight:bold;">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentagePromotionalActivityUsed / 100) </td>
                }

                @if (@Model.company_metrics.FirstOrDefault().PercentageOtherProductsUsed < 100)
                {
                    <td align="center">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentageOtherProductsUsed / 100) </td>
                }
                else
                {
                    <td align="center" style="color:red;font-weight:bold;">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentageOtherProductsUsed / 100) </td>
                }

                @if (@Model.company_metrics.FirstOrDefault().PercentagePromotionalEventUsed < 100)
                {
                    <td align="center">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentagePromotionalEventUsed / 100) </td>
                }
                else
                {
                    <td align="center" style="color:red;font-weight:bold;">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentagePromotionalEventUsed / 100) </td>
                }

                @if (@Model.company_metrics.FirstOrDefault().PercentageTrainingUsed < 100)
                {
                    <td align="center">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentageTrainingUsed / 100) </td>
                }
                else
                {
                    <td align="center" style="color:red;font-weight:bold;">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentageTrainingUsed / 100) </td>
                }

                @if (@Model.company_metrics.FirstOrDefault().PercentageMerchandiseUsed < 100)
                {
                    <td align="center">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentageMerchandiseUsed / 100) </td>
                }
                else
                {
                    <td align="center" style="color:red;font-weight:bold;">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentageMerchandiseUsed / 100) </td>
                }

                @if (@Model.company_metrics.FirstOrDefault().PercentageDisplayProductsUsed < 100)
                {
                    <td align="center">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentageDisplayProductsUsed / 100) </td>
                }
                else
                {
                    <td align="center" style="color:red;font-weight:bold;">@String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentageDisplayProductsUsed / 100) </td>
                }
                <td align="center">
                    @String.Format("{0:P}", @Model.company_metrics.FirstOrDefault().PercentageUtilized / 100)
                </td>
                <td width="4%" style="border-bottom:none;border-top:none;background:#292929;">&nbsp;</td>
                <td align="center">@(Model.company_metrics_mkt != null && Model.company_metrics_mkt.FirstOrDefault() != null && Model.company_metrics_mkt.FirstOrDefault().PercentageUtilized.HasValue ? String.Format("{0:P}", @Model.company_metrics_mkt.FirstOrDefault().PercentageUtilized / 100) : "")</td>
            </tr>
            <tr>
                <th align="right">Pending</th>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Pending_PromoAc_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Pending_OP_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Pending_PromoEv_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Pending_Training_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Pending_Merchandise_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Pending_DP_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalPending)</td>
                <td width="4%" style="border-bottom:none;border-top:none;background:#292929;">&nbsp;</td>
                <td align="center">@(Model.company_metrics_mkt != null && Model.company_metrics_mkt.FirstOrDefault() != null && Model.company_metrics_mkt.FirstOrDefault().totalPending.HasValue ? String.Format("{0:C}", @Model.company_metrics_mkt.FirstOrDefault().totalPending) : "")</td>
            </tr>
            <tr>
                <th align="right">Approved</th>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Approved_PromoAc_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Approved_OP_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Approved_PromoEv_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Approved_Training_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Completed_Merchandise_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Approved_DP_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalApproved)</td>
                <td width="4%" style="border-bottom:none;border-top:none;background:#292929;">&nbsp;</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics_mkt.FirstOrDefault().totalApproved)</td>
            </tr>
            <tr>
                <th align="right">Complete</th>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Completed_PromoAc_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Completed_OP_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Completed_PromoEv_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Completed_Training_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Completed_Merchandise_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Completed_DP_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalComplete)</td>
                <td width="4%" style="border-bottom:none;border-top:none;background:#292929;">&nbsp;</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics_mkt.FirstOrDefault().totalComplete)</td>
            </tr>
            <tr>
                <th align="right">Credit</th>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Credit_PromoAc_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Credit_OP_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Credit_PromoEv_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Credit_Training_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Credit_Merchandise_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().Credit_DP_total)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalCredit)</td>
                <td width="4%" style="border-bottom:none;border-top:none;background:#292929;">&nbsp;</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics_mkt.FirstOrDefault().totalCredit)</td>
            </tr>
            <tr>
                <th align="right" style="border-bottom:none;">Available</th>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalPromoaAva)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalOtherAva)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalPromoeAva)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalTrainingAva)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalMerchAva)</td>
                <td align="center">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalDpAva)</td>
                @if (@Model.company_metrics.FirstOrDefault().totalMDFAva > 0)
                {
                    <td align="center" style="color:GREEN;font-weight:bold;">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalMDFAva)</td>
                }
                else
                {
                    <td align="center" style="color:red;font-weight:bold;">@String.Format("{0:C}", @Model.company_metrics.FirstOrDefault().totalMDFAva)</td>
                }
                <td width="4%" style="border-bottom:none;border-top:none;background:#292929;">&nbsp;</td>
                @if (@Model.company_metrics_mkt.FirstOrDefault().totalMDFAva > 0)
                {
                    <td align="center" style="color:GREEN;font-weight:bold;">@String.Format("{0:C}", @Model.company_metrics_mkt.FirstOrDefault().totalMDFAva)</td>
                }
                else
                {
                    <td align="center" style="color:red;font-weight:bold;">@String.Format("{0:C}", @Model.company_metrics_mkt.FirstOrDefault().totalMDFAva)</td>
                }
            </tr>
        </tbody>
    </table>
}
<h4>MDF Breakdown</h4>
<b>Click on the request number to view/edit details.</b>
<div class="table-wrapper" style="clear:both;">
    <div id="mdfTableGrid" class="ag-theme-quartz" style="height: 1000px; width: 100%;"></div>
</div>
<script type="text/javascript">
    let gridApi = null;
    document.addEventListener('DOMContentLoaded', () => {
        const mdfStatusMap = {
            1: "Pending",
            2: "RCM Denied",
            8: "RCM Approved",
            7: "Marketing Denied",
            3: "Marketing Approved",
            4: "Completed",
            5: "Credit Issued",
            6: "Cancelled"
        };
        const rowData = @Html.Raw(JsonConvert.SerializeObject(Model.mdf_main.OrderByDescending(a => a.mdf_ID)));
        const rcmNames = @Html.Raw(JsonConvert.SerializeObject(Model.rcmNames));
        const isArchive = @isArchive.ToString().ToLower();
        const n1_name = '@(Context.Request.QueryString["n1_name"])';
        const n2_name = '@(Context.Request.QueryString["n2_name"])';
        const year = '@Request.QueryString["year"]';
        // 2. Define Columns with Filtering, Sorting, and Hiding
        const columnDefs = [
            {
                headerName: "Manage Request",
                field: "mdf_ID",
                pinned: 'left',
                cellRenderer: params => {
                    const id = params.value;
                    if (isArchive) {
                        return `<a href="/MDFView/DetailsAdminArchive/${id}/?&n1_name=${n1_name}&year=${year}&n2_name=Admin&msg=Details for ${id}">${id}</a>`;
                    } else {
                        const deleteUrl = `/MDFView/Delete?id=${id}&n1_name=${n1_name}&n2_name=${n2_name}`;
                        return `
                            <a href="/MDFView/DetailsAdmin/${id}/?&n1_name=${n1_name}&n2_name=Admin&msg=Details for ${id}">${id}</a>
                            <span> | </span>
                            <a href="${deleteUrl}" onclick="deletef(this.href); return false;" style="color:red;">remove</a>
                        `;
                    }
                }
            },
            { headerName: "Company", field: "company", filter: true },
            { headerName: "Request Type", field: "request_type", filter: true },
            { headerName: "Requester", field: "requester", filter: true },
            {
                headerName: "Estimated Cost",
                field: "mdf_totalCost",
                valueFormatter: p => p.value ? new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(p.value) : '$0.00',
                filter: 'agNumberColumnFilter',
                filterParams: {
                    buttons: ['reset', 'apply'],
                    closeOnApply: true
                },
                cellClass: 'text-right'
            },
            {
                headerName: "Actual Cost",
                field: "mdf_mdfCost",
                valueFormatter: p => p.value ? new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(p.value) : '$0.00',
                filter: 'agNumberColumnFilter',
                filterParams: {
                    buttons: ['reset', 'apply'],
                    closeOnApply: true
                },
                cellClass: 'text-right'
            },
            {
                headerName: "Amount Approved",
                // We check if it's the footer row first
                valueGetter: p => {
                    if (p.node.rowPinned === 'bottom') return p.data.mdf_approvedAmt_total;
                    const item = p.data;
                    return item.cost_center !== "Split" ? item.mdf_approvedAmt : (item.mdf_approvedAmt + item.mdf_approvedAmt_mkt);
                },
                valueFormatter: p => p.value ? new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(p.value) : '$0.00',
                cellStyle: p => p.node.rowPinned === 'bottom' ? { fontWeight: 'bold', backgroundColor: '#f4f4f4' } : null,
                filter: 'agNumberColumnFilter',
                filterParams: {
                    buttons: ['reset', 'apply'],
                    closeOnApply: true
                },
                cellClass: 'text-right'
            },
            {
                headerName: "Completed Amount",
                valueGetter: p => {
                    if (p.node.rowPinned === 'bottom') return p.data.mdf_validatedAmt_total;
                    const item = p.data;
                    return item.cost_center !== "Split" ? item.mdf_validatedAmt : (item.mdf_validatedAmt + item.mdf_validatedAmt_mkt);
                },
                valueFormatter: p => p.value ? new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(p.value) : '$0.00',
                cellStyle: p => p.node.rowPinned === 'bottom' ? { fontWeight: 'bold', backgroundColor: '#f4f4f4' } : null,
                filter: 'agNumberColumnFilter',
                filterParams: {
                    buttons: ['reset', 'apply'],
                    closeOnApply: true
                },
                cellClass: 'text-right'
            },
            {
                headerName: "Request Date",
                field: "mdf_requestDate",
                valueFormatter: p => p.value ? new Date(p.value).toLocaleDateString() : '',
                filter: 'agDateColumnFilter'
            },
            {
                headerName: "Expected Date",
                field: "mdf_date",
                valueFormatter: p => p.value ? new Date(p.value).toLocaleDateString() : '',
                filter: 'agDateColumnFilter'
            },
            { headerName: "Title", field: "mdf_title", filter: true },
            {
                headerName: "Assigned RCM",
                field: "rcm",
                valueGetter: p => {
                    const rcm = p.data.rcm;
                    if (!rcm) return "";
                    return rcmNames[rcm] ? `${rcmNames[rcm]} (${rcm})` : rcm;
                },
                filter: true
            },
            {
                headerName: "Status",
                field: "mdf_status",
                cellRenderer: p => {
                    return mdfStatusMap[p.value] || "In Progress";
                },
                filter: true
            }
        ];
        const gridOptions = {
            rowData: rowData,
            columnDefs: columnDefs,
            pagination: true,
            paginationPageSize: 20,
            pinnedBottomRowData: [],
            onGridReady: (params) => {
                gridApi = params.api;
                params.api.sizeColumnsToFit();
                initColumnMenu();
                generateFooterTotals();
            },
            onFilterChanged: () => generateFooterTotals()
        };
        const gridDiv = document.querySelector('#mdfTableGrid');
        gridApi = agGrid.createGrid(gridDiv, gridOptions);

        function initColumnMenu() {
            const menu = document.getElementById('columnToggleMenu');
            if (!menu || !gridApi) return;

            const cols = gridApi.getColumns();
            menu.innerHTML = ''; // Clear once

            cols.forEach(col => {
                const def = col.getColDef();
                // Skip hidden internal columns or the Action column
                if (!def.headerName || def.headerName === "Actions") return;

                const li = document.createElement('li');
                li.style.padding = "5px 15px";
                li.innerHTML = `
                    <label style="cursor:pointer; font-weight:normal; display:flex; align-items:center; gap:8px; margin:0;">
                        <input type="checkbox" ${col.isVisible() ? 'checked' : ''}
                               onchange="toggleColumn('${def.field}', this)">
                        ${def.headerName}
                    </label>
                `;
                menu.appendChild(li);
            });
        }

        function toggleColumn(field, checkbox) {
            if (gridApi) {
                gridApi.applyColumnState({
                    state: [
                        {
                            colId: field,
                            hide: !checkbox.checked // In AG Grid, 'hide' is the property name
                        }
                    ]
                });
            }
        }

        function generateFooterTotals() {
            let totalEstimated = 0;
            let totalActual = 0;
            let totalApproved = 0;
            let totalCompleted = 0;

            // Use forEachNodeAfterFilter to only sum what the user actually sees
            gridApi.forEachNodeAfterFilter((rowNode) => {
                const data = rowNode.data;
                totalEstimated += data.mdf_totalCost || 0;
                totalActual += data.mdf_mdfCost || 0;

                // Logic for Split cost center totals
                totalApproved += (data.cost_center !== "Split" ? data.mdf_approvedAmt : (data.mdf_approvedAmt + data.mdf_approvedAmt_mkt)) || 0;
                totalCompleted += (data.cost_center !== "Split" ? data.mdf_validatedAmt : (data.mdf_validatedAmt + data.mdf_validatedAmt_mkt)) || 0;
            });

            // Set the data for the pinned bottom row
            gridApi.setGridOption('pinnedBottomRowData', [
                {
                    mdf_ID: "TOTALS:", // Label for the first column
                    mdf_totalCost: totalEstimated,
                    mdf_mdfCost: totalActual,
                    // These field names must match your valueGetters or fields in columnDefs
                    mdf_approvedAmt_total: totalApproved,
                    mdf_validatedAmt_total: totalCompleted
                }
            ]);
        }
    });

    $(document).on('click', '#columnToggleMenu', function (e) {
        e.stopPropagation(); // Prevents Bootstrap from closing the menu on internal clicks
    });
</script>