@model newrisourcecenter.Models.MDFViewModel

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
	$(document).ready(function($){
	    $('#showMDF').click(function () {
			$('#mdftypes').toggleClass('showMDF');
		});
    });

    $(document).on('click', '.ajax-filter', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        $(this).closest('.dropdown').removeClass('open');
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function () {
                $('.mdf-data-container').css('opacity', '0.5');
            },
            success: function (result) {
                $('.mdf-data-container').html(result);
                window.history.pushState({ path: url }, '', url);
                $('.mdf-data-container').css('opacity', '1');
            },
            error: function () {
                alert("Error loading data. Please try again.");
                $('.mdf-data-container').css('opacity', '1');
            }
        });
    });
</script>

<div class="main_content">
    <section>
        <div style="padding-bottom:0px;margin-bottom:0px;font-weight:bolder;font-size:20px;">
            Brand Central - Admin
            @if (!string.IsNullOrEmpty(@Request.QueryString["msg"]))
            {
                <span> - </span>@Request.QueryString["msg"]
            }
        </div>
        <span><a class="btn btn-primary ajax-filter" href="~/MDFView/ManageAdmin?n1_name=@Request.QueryString["n1_name"]">Reset</a></span>&nbsp;
        Filter By:
        <div id="dropdown">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Company Name
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var item in @Model.list_comp.GroupBy(a => new { a.comp_ID, a.comp_name }).OrderBy(b => b.Key.comp_name))
                    {
                        <li><a class="ajax-filter" href="~/MDFView/ManageAdmin?comp_id=@item.Key.comp_ID&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=@item.Key.comp_name">@item.Key.comp_name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div id="dropdown">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    MDF Type
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var item in @ViewBag.type)
                    {
                        <li><a class="ajax-filter" href="~/MDFView/ManageAdmin?comp_id=@Request.QueryString["comp_id"]&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&status=@Request.QueryString["status"]&type=@item.mdf_type_ID&msg=@item.mdf_subType_name&cost_center=@Request.QueryString["cost_center"]">@item.mdf_subType_name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div id="dropdown">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Cost Center
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @{ List<string> list_cost_centers = new List<string>();
                        list_cost_centers.Add("MDF CC 7200");
                        list_cost_centers.Add("MKT CC 7615");
                        list_cost_centers.Add("Split");
                    }
                    @foreach (string item in list_cost_centers)
                    {
                        <li><a class="ajax-filter" href="~/MDFView/ManageAdmin?comp_id=@Request.QueryString["comp_id"]&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&status=@Request.QueryString["status"]&type=@Request.QueryString["type"]&cost_center=@item">@item</a></li>
                    }
                </ul>
            </div>
        </div>
        <div id="dropdown">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    MDF Status
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&cost_center=@Request.QueryString["cost_center"]&status=1&msg=Pending">Pending</a></li>
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=RCM Denied&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&cost_center=@Request.QueryString["cost_center"]&status=2">RCM Denied</a></li>
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=RCM Approved&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&cost_center=@Request.QueryString["cost_center"]&status=8">RCM Approved</a></li>
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=Marketing Denied&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&cost_center=@Request.QueryString["cost_center"]&status=7">Marketing Denied</a></li>
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=Marketing Approved&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&cost_center=@Request.QueryString["cost_center"]&status=3">Marketing Approved</a></li>
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=Completed&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&cost_center=@Request.QueryString["cost_center"]&status=4">Completed</a></li>
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=Credit Issued&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&cost_center=@Request.QueryString["cost_center"]&status=5">Credit Issued</a></li>
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=Cancelled&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&cost_center=@Request.QueryString["cost_center"]&status=6">Cancelled</a></li>
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=In Progress&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&cost_center=@Request.QueryString["cost_center"]&status=6">In Progress</a></li>
                </ul>
            </div>
        </div>
        <div id="dropdown">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Archived Requests
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="ajax-filter" href="/MDFView/ManageAdmin?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=Manage MDFs&comp_id=@Request.QueryString["comp_id"]&status=@Request.QueryString["status"]&cost_center=@Request.QueryString["cost_center"]">Current Year</a></li>
                    @for (int i = DateTime.Now.Year - 1; i >= 2013; i--)
                    {
                        <li><a href="/MDFView/ManageAdminArchive?&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=Manage MDFs&year=@i&comp_id=@Request.QueryString["comp_id"]&status=@Request.QueryString["status"]&cost_center=@Request.QueryString["cost_center"]">@i</a></li>
                    }
                </ul>
            </div>
        </div>
        <div id="dropdown">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Assigned RCM
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (KeyValuePair<string, string> rcm in @Model.rcmNames)
                    {
                        <li><a class="ajax-filter" href="~/MDFView/ManageAdmin?rcm=@rcm.Key&n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&year=@Request.QueryString["year"]&comp_id=@Request.QueryString["comp_id"]&type=@Request.QueryString["type"]&status=@Request.QueryString["status"]">@rcm.Value</a></li>
                    }
                </ul>
            </div>
        </div>
        &nbsp;<span id="showMDF" class="btn btn-primary">More</span>
        <div id="mdftypes" class="showMDF">
            <ul>
                <li><a class="ajax-filter" href="~/MDFView/ManualEntry?n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=Manual Entry">Manual Entry</a></li>
                <li><a class="ajax-filter" href="~/MDFView/ExpExcl?n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]&msg=Reports">Reports</a></li>
                <li>@Html.ActionLink("Manage MDF Users", "MDFusers", "MDFView", new { compid = Request.QueryString["compid"], n1_name = "Support Tools", n2_name = "MDF Users" }, htmlAttributes: new { @class = "ajax-filter" })</li>
            </ul>
        </div>
        <div class="mdf-data-container">
            @Html.Partial("_MDFTableResults", Model)
        </div>
        <hr>
    </section>
</div>