@model newrisourcecenter.Models.MDFViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    dt {
        background: #CCC;
        padding: 18px;
        border-top: 1px solid #ddd;
    }
</style>
@if (!string.IsNullOrEmpty(Request.QueryString["success"])) {
    <h1 style="color:red;">@Request.QueryString["success"]</h1>
}
@using (Html.BeginForm("ManualEntry", "MDFView", FormMethod.Post, new { enctype = "multipart/form-data", @id = "returnsforms" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.mdf_ID)
    <div class="form-horizontal">
        <a href="/MDFView/ManageAdmin?n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]" style="float:right;"><b>back</b></a>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.mdf_type)
            </dt>

            <dd>
                <select name="mdf_type" class="form-control">
                    @foreach (var type in ViewBag.type)
                    {
                    if (Model.mdf_type == type.mdf_type_ID)
                    {
                            <option value="@type.mdf_type_ID" selected>@type.mdf_subType_name</option>
                        }
                        else
                        {
                            <option value="@type.mdf_type_ID">@type.mdf_subType_name</option>
                        }
                    }
                </select>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mdf_requestDate)
            </dt>

            <dd>
                @Html.EditorFor(model => model.mdf_requestDate, new { htmlAttributes = new { @class = "form-control date-picker" } })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.usr_email)
            </dt>

            <dd>
                @Html.EditorFor(model => model.usr_email, new { htmlAttributes = new { @class = "form-control"} })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mdf_title)
            </dt>

            <dd>
                @Html.EditorFor(model => model.mdf_title, new { htmlAttributes = new { @class = "form-control" } })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mdf_desc)
            </dt>

            <dd>
                @Html.TextAreaFor(model => model.mdf_desc, new { htmlAttributes = new { @class = "form-control" } })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mdf_totalCost)
            </dt>

            <dd>
                $@Html.EditorFor(model => model.mdf_totalCost, new { htmlAttributes = new { @class = "form-control" } })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mdf_mdfCost)
            </dt>

            <dd>
                $@Html.EditorFor(model => model.mdf_mdfCost, new { htmlAttributes = new { @class = "form-control" } })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mdf_date)
            </dt>

            <dd>
                @Html.EditorFor(model => model.mdf_date, new { htmlAttributes = new { @class = "form-control date-picker" } })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mdf_comments3)
            </dt>

            <dd>
                @Html.TextAreaFor(model => model.mdf_comments3, new { htmlAttributes = new { @class = "form-control" } })
            </dd>
        </dl>
        @* Set values from the database *@
        @Html.HiddenFor(model => model.mdf_ID)
        @Html.HiddenFor(model => model.mdf_type)
        @Html.HiddenFor(model => model.mdf_user)
        @Html.HiddenFor(model => model.mdf_title)
        @Html.HiddenFor(model => model.mdf_desc)
        @Html.HiddenFor(model => model.mdf_totalCost)
        @Html.HiddenFor(model => model.mdf_mdfCost)
        @Html.HiddenFor(model => model.mdf_requestDate)
        @Html.HiddenFor(model => model.mdf_date)
        @Html.HiddenFor(model => model.mdf_reviewDate)
        @Html.HiddenFor(model => model.mdf_creditIssueDate)
        @Html.HiddenFor(model => model.mdf_validatedAmt)
        @Html.HiddenFor(model => model.mdf_comments3)
        @Html.HiddenFor(model => model.mdf_loc)
        @Html.HiddenFor(model => model.mdf_creditMemoNum)
        @Html.HiddenFor(model => model.mdf_accountingInstruct)
        @Html.HiddenFor(model => model.archive_year)
        @Html.HiddenFor(model => model.mdf_comp)
        @Html.HiddenFor(model => model.mdf_SAP)
        @Html.HiddenFor(model => model.mdf_validationDate)
        @Html.HiddenFor(model => model.mdf_comments2)

        <input type="hidden" value="@Request.QueryString["n1_name"]" name="n1_name" />
        <input type="hidden" value="@Request.QueryString["n2_name"]" name="n2_name" />
        <input type="hidden" value="@Model.company" name="company" />
        @*@foreach (var type in ViewBag.type)
        {
            if (Model.mdf_type == type.mdf_type_ID)
            {
                <input type="hidden" value="@type.mdf_subType_name" name="subtype" />
            }
        }*@

        <div data-role="controlgroup" data-type="horizontal" align="center">
            <a href="/MDFView/ManageAdmin?n1_name=@Request.QueryString["n1_name"]&n2_name=@Request.QueryString["n2_name"]" class="btn btn-primary">&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;</a>
            <input name="submit" type="submit" value="Submit" id="submit" class="btn btn-success" data-icon="arrow-r" data-iconpos="right">
        </div>
    </div>
}