@model IEnumerable<newrisourcecenter.Models.RiSourcesViewModel>
@{
    ViewBag.Title = "Allrisouces";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var typeList = new Dictionary<string, string>();
    foreach (var item in ViewBag.list_n2ID)
    {
        typeList.Add(item.Key.ToString(), item.Value.name);
    }
}
<script>
    var typeList = @Html.Raw(Json.Encode(typeList));
    var searchRiSources = {
        init: function () {
            var filter_form = $("#submit_search");
            filter_form.on('click', searchRiSources.searchRiS);
        },
        searchRiS: function (e) {
            e.preventDefault();

            var form_value = $("#form_value").val();
            $.post("/RiSources/SearchRiSources/", { form_value: form_value }, function (result) {
                var jsonObj = JSON.parse(result);
                $("#tbody").empty();

                if (jsonObj.status == "OK") {
                    if (jsonObj.RiSourcesData !=""){
                        $.each(jsonObj.RiSourcesData, function (i, data) {
                            $("#tbody").append('<tr><td>' + data.ris_headline + '</td><td>' + data.ris_teaser + '</td><td>' + (typeList.hasOwnProperty(data.n2ID) ? typeList[data.n2ID] : '') + '</td><td><a class="btn btn-info" href="/RiSources/Edit/' + data.ris_ID + '?parentID=@Request.QueryString["parentId"]&amp;n1_name=@Request.QueryString["n1_name"]&amp;n2_name=@Request.QueryString["n2_name"]">Edit</a>&nbsp;<a class="btn btn-info" href="/RiSources/Delete/' + data.ris_ID + '?parentID=@Request.QueryString["parentId"]&amp;n1_name=@Request.QueryString["n1_name"]&amp;n2_name=@Request.QueryString["n2_name"]" id="delete" onclick="deletef(this.href);return false">Delete</a></td></tr>');
                        });
                    } else {
                            $("#tbody").append('<tr><td colspan="4" class="text-center">No results</td></tr>');
                    }
                }
            });
        },
    }
    jQuery(document).ready(searchRiSources.init);
    $(document).on('click', '.ajax-filter', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        $(this).closest('.dropdown').removeClass('open');
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function () {
                $('table.table').css('opacity', '0.5');
            },
            success: function (result) {
                $('table.table tbody#tbody').html(result);
                window.history.pushState({ path: url }, '', url);
                $('table.table').css('opacity', '1');

            },
            error: function () {
                alert("Error loading data. Please try again.");
                $('table.table').css('opacity', '1');
            }
        });
    });
</script>
<table>
    <tr>
        <td>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Filter ReSources By
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var item in @ViewBag.list_n2ID)
                    {
                        <li><a class="ajax-filter" href="?parentID=&n2Id=@item.Key&n1_name=@Request.QueryString["n1_name"]&n2_name=@item.Value.name&img=@item.Value.img">@item.Value.name</a></li>
                    }
                </ul>
            </div>
        </td>
        <td>
            <form>
                <span class="input-group stylish-input-group">
                    <input type="text" id="form_value" value="" placeholder="search by doc name" class="form-control" />
                    <span class="input-group-addon" id="submit_search" >
                        <button type="submit" >
                            <span class="glyphicon glyphicon-search" ></span>
                        </button>
                    </span>
                </span>
            </form>
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Add a ReSource
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var item in @ViewBag.list_n2ID)
                    {
                        <li><a href="~/RiSources/Create?parentID=&n2Id=@item.Key&n1_name=@Request.QueryString["n1_name"]&n2_name=@item.Value.name&img=@item.Value.img">@item.Value.name</a></li>
                    }
                </ul>
            </div>
        </td>
        <td>
            <a class="btn btn-primary ajax-filter" href="~/RiSources/Allrisouces?n1_name=@Request.QueryString["n1_name"]">Reset</a>
        </td>
    </tr>
</table>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ris_headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ris_teaser)
            </th>
            <th>Document Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @Html.Partial("_RisourcesTable", Model)
    </tbody>
</table>
