@model IEnumerable<newrisourcecenter.Models.RiSourcesViewModel>
@{
    ViewBag.Title = "Allrisouces";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var typeList = new Dictionary<string, string>();
    foreach (var item in ViewBag.list_n2ID)
    {
        typeList.Add(item.Key.ToString(), item.Value.name);
    }
}
<style type="text/css">
    .btn.btn-xs {
        padding: 1px 5px !important;
        height: auto !important;
    }
</style>
<script>
    let gridApi;
    // Map of ID to Name for the "Document Type" column
    const typeListLookup = @Html.Raw(Json.Encode(typeList));

    const columnDefs = [
        { headerName: "RiSource Headline", field: "ris_headline", sortable: true, filter: true, flex: 2 },
        { headerName: "RiSource Teaser", field: "ris_teaser", sortable: true, filter: true, flex: 3 },
        {
            headerName: "Document Type",
            field: "n2ID",
            filter: 'agTextColumnFilter',
            flex: 1,
            valueFormatter: params => typeListLookup[params.value] || params.value,
            filterValueGetter: params => typeListLookup[params.data.n2ID] || params.data.n2ID
        },
        {
            headerName: "Actions",
            width: 160,
            sortable: false,
            filter: false,
            cellRenderer: params => {
                const id = params.data.ris_ID;
                const pId = "@Request.QueryString["parentId"]";
                const n1 = "@Request.QueryString["n1_name"]";
                const n2 = "@Request.QueryString["n2_name"]";

                return `
                    <a class="btn btn-xs btn-info" href="/RiSources/Edit/${id}?parentID=${pId}&n1_name=${n1}&n2_name=${n2}">Edit</a>
                    <a href="/RiSources/Delete/${id}" class="btn btn-xs btn-danger" onclick="deletef(this.href);return false;">Delete</a>
                `;
            }
        }
    ];

    const gridOptions = {
        columnDefs: columnDefs,
        rowData: @Html.Raw(Json.Encode(Model)),
        pagination: true,
        paginationPageSize: 20,
        defaultColDef: { resizable: true }
    };

    // 1. Handle Quick Search
    function onFilterChanged() {
        gridApi.setGridOption('quickFilterText', document.getElementById('quickFilter').value);
    }

    // 2. Handle the Dropdown "Filter By Type"
    function applyTypeFilter(typeName) {
        if (!gridApi) return;
        const currentModel = gridApi.getFilterModel();
        currentModel.n2ID = {
            filterType: 'text',
            type: 'equals',
            filter: typeName
        };
        gridApi.setFilterModel(currentModel);
    }

    // 3. Reset All
    function resetFilters() {
        document.getElementById('quickFilter').value = '';
        gridApi.setGridOption('quickFilterText', '');
        gridApi.setFilterModel(null);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const gridDiv = document.querySelector('#risourcesGrid');
        gridApi = agGrid.createGrid(gridDiv, gridOptions);
    });
</script>
<table>
    <tr>
        <td>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Filter ReSources By
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var item in @ViewBag.list_n2ID)
                    {
                        <li><a href="javascript:void(0);" onclick="applyTypeFilter('@item.Value.name')">@item.Value.name</a></li>
                    }
                </ul>
            </div>
        </td>
        <td>
            <form>
                <span class="input-group stylish-input-group">
                    <input type="text" id="quickFilter" placeholder="Search by doc name..." class="form-control" oninput="onFilterChanged()" />
                    <span class="input-group-addon" id="submit_search">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </span>
            </form>
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Add a ReSource
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var item in @ViewBag.list_n2ID)
                    {
                        <li><a href="~/RiSources/Create?parentID=&n2Id=@item.Key&n1_name=@Request.QueryString["n1_name"]&n2_name=@item.Value.name&img=@item.Value.img">@item.Value.name</a></li>
                    }
                </ul>
            </div>
        </td>
        <td>
            <button class="btn btn-default" onclick="resetFilters()">Reset</button>
        </td>
    </tr>
</table>
<br />
<div class="table-wrapper" style="clear:both;">
    <div id="risourcesGrid" class="ag-theme-quartz" style="height: 1000px; width: 100%;"></div>
</div>
