@model IEnumerable<newrisourcecenter.Models.SRPViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    long userId = Convert.ToInt64(Session["userId"]);
}
<div class="main_content">
    <p>
        <div style="display:inline-block;">
            @Html.ActionLink("Default Page", "Index", new { n1_name = Request.QueryString["n1_name"], n2_name = Request.QueryString["n2_name"] }, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
        <div style="display:inline-block;width:70%;margin: 0px 0px 0px 20px;">
            @Html.ActionLink("Start Request", "Create", new { n1_name = @Request.QueryString["n1_name"], n2_name = @Request.QueryString["n2_name"], msg = "Create Sales Request" }, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
        <div style="display:inline-block;float:right;">
            @if (ViewBag.approver == 1 || User.IsInRole("Super Admin") || ViewBag.isbuyer == 1 || ViewBag.isaccountspayables == 1)
            {
                @Html.ActionLink("SRP Admin >>", "Admin", new { n1_name = @Request.QueryString["n1_name"], n2_name = @Request.QueryString["n2_name"], region = ViewBag.approverId, msg = "SRP Admin" }, htmlAttributes: new { @class = "btn btn-primary" })
            }
        </div>
    </p>
    @if (!string.IsNullOrEmpty(Request.QueryString["success"]))
    {
        <h4 style="color:green;">@Request.QueryString["success"]</h4>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FormID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalesRepID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ponumber)
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.OrderByDescending(a => a.FormID))
        {
            <tr>
                <td>
                    @if (item.SalesRepID == userId)
                    {
                        @Html.ActionLink(item.FormID.ToString(), "Edit", new { id = item.FormID, n1_name = @Request.QueryString["n1_name"], n2_name = @Request.QueryString["n2_name"] }, htmlAttributes: new { @class = "btn btn-success" })
                    }
                    else
                    {
                       <span class = "btn btn-info">@item.FormID.ToString()</span> 
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ponumber)
                </td>
            </tr>
        }

    </table>
</div>