@model newrisourcecenter.Models.ForgotPasswordViewModel
@{

    ViewBag.heading = "Forgot your password?";
}
<article align="center" style="background:#fff;padding:20px;">
   <div id="loginForm" align="center" >
        <h3 style="color:#E50043;">@ViewBag.heading</h3>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <span>We will email you soon.</span>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email here" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md col-md-10">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span> Send Email 
                    </button>
                    @*<input type="submit" class="btn btn-primary" value="Email Link" />*@
                    <a href="/Account/Login?class=bnt" class="btn btn-primary" >Go to login page</a>
                </div>
            </div>
        }
        @*<p id="loginlinks" >
            <br />
            @Html.ActionLink("Go to login page", "Login",new { @class="bnt" })
        </p>*@
        @*<p  id="loginlinks" >
            &raquo; @Html.ActionLink("Request an account", "RegisterTemp") &raquo;
        </p>*@
    </div>
    @{ Html.RenderPartial("_Slider"); }
</article>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
