@model newrisourcecenter.Models.PMQuoteViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int comp_type = Convert.ToInt32(Session["companyType"]);
}
<style type="text/css">
    input.rfq_text_input {
        width: 250px;
    }

    div.box {
        display: none;
    }

    .button-success,
    .button-error,
    .button-warning,
    .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        background-color: black;
    }

    .button-error {
        background: rgb(202, 60, 60); /* this is a maroon */
    }

    .table {
        width: 80%;
        margin: 40px auto 40px auto;
    }

    .help-text {
        margin-left: 20px;
    }
</style>
<script type="text/javascript">

</script>

@if (!string.IsNullOrEmpty(@ViewBag.error))
{
    <h2 style="color:red;">@ViewBag.error</h2>
}

@if (!string.IsNullOrEmpty(Request.QueryString["success"]))
{
    <h2 style="color:green;">@Request.QueryString["success"]</h2>
}

@using (Html.BeginForm("Create", "PMQuote", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="details">
            <h3>Company Information</h3>
            <div class="form-group">
                @Html.LabelFor(model => model.company_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.company_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.company_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.contact_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contact_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.contact_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.street_address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.street_address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.street_address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.zipcode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.zipcode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.zipcode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.manager_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.manager_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.manager_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.service_type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="service_type" name="service_type" class="form-control" style="max-width:400px;">
                        <option value="">Select Type of Service</option>
                        @{
                            string type = !string.IsNullOrEmpty(Model.service_type) ? Model.service_type : "";
                            foreach (string option in new string[] { "Inspect / 1-Year", "Maintain / 1-Year", "Inspect / 3-Year / 1 PM per year", "Maintan / 3-Year / 1 PM per year", "Full Service" })
                            {
                                string selected = option == type ? "selected" : "";
                                <option value="@option" @selected>@option</option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.service_type, "", new { @class = "text-danger" })
                </div>
            </div>

            <h3>Types of Climate Control (Input quantity of units requiring PM)</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.heat_exchanger, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.heat_exchanger, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ac, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ac, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lcp_cw, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lcp_cw, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.chiller, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.chiller, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lcp_dx, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lcp_dx, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lcp_dx_condenser, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lcp_dx_condenser, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.det_ac, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.det_ac, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.enviromental_conditions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="enviromental_conditions" name="conditions[]" class="form-control" multiple style="max-width:400px;">
                        @{
                            List<string> conditions = !string.IsNullOrEmpty(Model.enviromental_conditions) ? Model.enviromental_conditions.Split(',').ToList() : new List<string>();
                            foreach (string option in new string[] { "Very Dusty", "Oily/Greasy", "Corrosive" })
                            {
                                string selected = conditions.Contains(option) ? "selected" : "";
                                <option value="@option" @selected>@option</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <br /><br />
            <div class="form-group col-md-8">
                <div class="col-md-4">
                    <input type="submit" value="Submit Quote" class="btn btn-default" />
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

