@model IEnumerable<newrisourcecenter.Models.ReturnToolViewModel>
@{
    ViewBag.Title = Request.QueryString["msg"];
    string userProducts = Convert.ToString(Session["userProducts"]);
    string pages = Convert.ToString(Session["userPages"]);
    string[] userpages = { };
    if (pages != null)
    {
        userpages = pages.Split(',');
    }
}
<div id="theusers" style="display:none;">
    <option>Select a requester</option>
        @Html.Raw(ViewBag.list_users)
    
</div>
<script>
    var adminpanel = {
        init: function () {
            var formID = $('#formID'), filter = $('#filter'), inputfilter = $('input[name=filter]'), adminform = $('#adminform'), filter_form = $("#filterform");
            adminform.hide();
            //create the forms content on the selection of the radio buttons
            inputfilter.on("click", { adminform: adminform, filter: filter }, adminpanel.filters);
            //submit the forms
            filter_form.on('submit', adminpanel.submit_filter_form);
        },
        filters: function (e) {
            if ($(this).val() == "formdata") {
                e.data.adminform.show();
                e.data.filter.html(
                    '<div class="form-group" >' +
                        '<input type="hidden" name="filterType" id="filterType" value="' + $(this).val() + '" />' +
                        '<div style="float:left;" ><label class="control-label col-md-2">Form ID</label></div>' +
                        '<div style="float:left;" ><input type="text" name="form_id" value="" id="form_value" placeholder="Search by form id" class="form-control" /></div>' +
                        '<div style="float:left;" >&nbsp;&nbsp;<input type="submit" name="post" value="Filter" class="btn btn-default" /></div>' +
                    '</div>'
               );
            }else if ($(this).val() == "rma") {
                e.data.adminform.show();
                e.data.filter.html(
                    '<div class="form-group" >' +
                        '<input type="hidden" name="filterType" id="filterType" value="' + $(this).val() + '" />' +
                        '<div style="float:left;" ><label class="control-label col-md-2">Enter RMA#</label></div>' +
                        '<div style="float:left;" ><input type="text" name="rma_num" value="" id="form_value" placeholder="Search by RMA#" class="form-control" /></div>' +
                        '<div style="float:left;" >&nbsp;&nbsp;<input type="submit" name="post" value="Filter" class="btn btn-default" /></div>' +
                    '</div>'
               );
            }
            else if ($(this).val() == "companyName") {
                e.data.adminform.show();
                e.data.filter.html(
                   '<div class="form-group">' +
                        '<div style="float:left;" ><label class="control-label col-md-2">Company Name</label></div>' +
                        '<input type="hidden" name="filterType" id="filterType" value="' + $(this).val() + '" />' +
                        '<div style="float:left;" >' +
                        '<select class="form-control" name="companyName" id="form_value" >' +
                            '<option>Select a company</option>' +
                             @Html.Raw(ViewBag.list_companys)
                        '</select>' +
                        '</div>' +
                        '<div style="float:left;" >&nbsp;&nbsp;<input type="submit" name="post" value="Filter" class="btn btn-default" /></div>' +
                    '</div>'
               );
            } else if ($(this).val() == "returnType") {
                e.data.adminform.show();
                e.data.filter.html(
                   '<div class="form-group">' +
                        '<input type="hidden" name="filterType" id="filterType" value="' + $(this).val() + '" />' +
                        '<div style="float:left;" ><label class="control-label col-md-2">Request Type</label></div>' +
                        '<div style="float:left;" >' +
                        '<select class="form-control" name="returnType" id="form_value" >' +
                            '<option>Select a Return Type</option>' +
                            '<option value="4">Planned Stock Rotations</option>'+
                            '<option value="1">Product Return</option>'+
                            '<option selected="selected" value="2">Missing or Defective Product</option>'+
                            '<option value="3">Transportation Damage</option>'+
                        '</select>' +
                        '</div>' +
                        '<div style="float:left;" >&nbsp;&nbsp;<input type="submit" name="post" value="Filter" class="btn btn-default" /></div>' +
                    '</div>'
               );
            } else if ($(this).val() == "status") {
                e.data.adminform.show();
                e.data.filter.html(
                   '<div class="form-group">' +
                        '<input type="hidden" name="filterType" id="filterType" value="' + $(this).val() + '" />' +
                        '<div style="float:left;" ><label class="control-label col-md-2">Status</label></div>' +
                        '<div style="float:left;" >' +
                            '<select class="form-control" name="status" id="form_value">' +
                                '<option>Select a status</option>' +
                                '<option value="RA Issued" >RA Issued</option>' +
                                '<option value="Under Review" >Under Review</option>' +
                                '<option value="Cancel" >Canceled</option>' +
                                '<option value="Saved" >Submitted Or Saved</option>' +
                            '</select>' +
                        '</div>' +
                        '<div style="float:left;" >&nbsp;&nbsp;<input type="submit" name="post" value="Filter" class="btn btn-default" /></div>' +
                    '</div>'
               );
            }
            else if ($(this).val() == "requester") {
                e.data.adminform.show();
                var theusers = $("#theusers").html();
                console.log(theusers);
                e.data.filter.html(
                    '<div class="form-group">' +
                        '<input type="hidden" name="filterType" id="filterType" value="' + $(this).val() + '" />' +
                        '<div style="float:left;" ><label class="control-label col-md-2" >Requester</label></div>' +
                    '<div style="float:left;" >' +
                    '<select class="form-control getrequester" name="requester" id="form_value"></select>'+
                        
                        '</div>' +
                        '<div style="float:left;" >&nbsp;&nbsp;<input type="submit" name="post" value="Filter" class="btn btn-default" style="inline-block;" /></div>' +
                    '</div>'
               );
                $(".getrequester").append(theusers);

            }else if($(this).val() == "request_date"){
                e.data.adminform.show();
                e.data.filter.html(
                '<div class="form-group" >' +
                    '<br /><strong>Date Requested</strong><br /><br/>'+
                    '<input type="hidden" name="filterType" id="filterType" value="' + $(this).val() + '" />' +
                    '<div style="float:left;" ><label class="control-label col-md-2">Start Date</label></div>' +
                    '<div style="float:left;" ><input type="text" name="request_date" value="" placeholder="Enter end date" class="form-control date-picker" id="form_value" style="float:left;inline-block;" /></div>' +
                    '<div style="float:left;" ><label class="control-label col-md-2">End Date</label></div>' +
                    '<div style="float:left;" ><input type="text" name="completed_date" value="" placeholder="Enter end date" class="form-control date-picker" id="form_value1" style="float:left;inline-block;"  /></div>' +
                    '<div style="float:left;" >&nbsp;&nbsp;<input type="submit" name="post" value="Filter" class="btn btn-default" /></div>' +
                '</div>'
               );
                //implement data picker
                $(".date-picker").datepicker();
            }else{
                e.data.adminform.show();
                e.data.filter.html(
                '<div class="form-group" >' +
                    '<br/><strong>Date Completed</strong><br /><br/>' +
                    '<input type="hidden" name="filterType" id="filterType" value="' + $(this).val() + '" />' +
                    '<div style="float:left;" ><label class="control-label col-md-2">Start Date</label></div>' +
                    '<div style="float:left;" ><input type="text" name="request_date" value="" placeholder="Enter end date" class="form-control date-picker" id="form_value" style="float:left;inline-block;" /></div>' +
                    '<div style="float:left;" ><label class="control-label col-md-2">End Date</label></div>' +
                    '<div style="float:left;" ><input type="text" name="completed_date" value="" placeholder="Enter end date" class="form-control date-picker" id="form_value1" style="float:left;inline-block;"  /></div>' +
                    '<div style="float:left;" >&nbsp;&nbsp;<input type="submit" name="post" value="Filter" class="btn btn-default" /></div>' +
                '</div>'
               );
               //implement data picker
               $(".date-picker").datepicker();
            }
        },
        submit_filter_form:function(e){
            e.preventDefault();
            $.post("/ReturnTool/AdminPanelFilter/?form_value1=" + $("#form_value1").val() + "&form_value=" + $("#form_value").val() + "&filterType=" + $("#filterType").val() + "&n1_name=Return Request", function (result) {
                $("#tabledata").empty();
                $("#tabledata").html(result);
            });
        },
    }
    jQuery(document).ready(adminpanel.init);
</script>
<div class="main_content">
    <div>
        <strong>Filter By</strong>
        <input type="radio" name="filter" value="formdata" id="formdata" />Form ID#&nbsp;&nbsp;
        <input type="radio" name="filter" value="rma" id="rma" />RMA#&nbsp;&nbsp;
        <input type="radio" name="filter" value="companyName" />Company Name&nbsp;&nbsp;
        <input type="radio" name="filter" value="returnType" />Return Type&nbsp;&nbsp;
        <input type="radio" name="filter" value="status" />Status&nbsp;&nbsp;
        <input type="radio" name="filter" value="requester" />Requester&nbsp;&nbsp;
        <input type="radio" name="filter" value="request_date" />Request date&nbsp;&nbsp;
        <input type="radio" name="filter" value="date_completed" />Date Completed&nbsp;&nbsp;
        <input type="button" value="Clear Filters" class="btn btn-default" onclick="window.location.reload();" />
    </div>

    <form action="~/ReturnTool/AdminPanel" align="left" id="filterform">
        <span id="filter"></span>
    </form>
    <br clear="left"/><br />
    <table style="width:100%;text-align:center !important;" align="center">
        <tr>
            <td>
                @Html.ActionLink("Submit a Return Request >>", "Create", new { n1_name = @Request.QueryString["n1_name"], msg = "Submit a Return Request" }, htmlAttributes: new { @style = "float:left;", @class = "btn btn-primary" })
            </td>
            <td>

            </td>
            <td>
                @Html.ActionLink("<< Back", "Index", new { n1_name = @Request.QueryString["n1_name"], msg = "" }, htmlAttributes: new { @class = "btn btn-primary", @style = "float:right;", @onclick = "javascript:history.back()" })
            </td>
        </tr>
    </table>
    <hr />
    <div id="tabledata">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.form_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.company)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.submission_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.completion_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.authonumber)
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.form_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.submission_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.completion_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.authonumber)
                    </td>
                    <td>
                        @{ string pdflink = string.Format("/attachments/return_tools/PDFs/pdf_{0}.pdf", @item.form_id);}
                        <a href="@pdflink">View PDF</a>
                        @Html.ActionLink("Edit", "Edit", new { id = item.form_id, n1_name = @Request.QueryString["n1_name"], msg = "Admin Panel" }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.form_id, n1_name = @Request.QueryString["n1_name"] }, htmlAttributes: new { id = "delete", onclick = "deletef(this.href);return false", @class = "btn btn-info" })
                    </td>
                </tr>
                ViewBag.form_id = item.form_id;
            }
            </tbody>
        </table>

        @*@if (Model.Count() >= 10)
        {
            if (Request.QueryString["next"] == null)
            {
                @Html.ActionLink("Next >>", "AdminPanel", new { n1_name = @Request.QueryString["n1_name"], msg = "Admin Panel", prev = @ViewBag.form_id - 1, next = @ViewBag.form_id - 10 }, new { @class = "btn btn-info" })
            }
            else
            {
                @Html.ActionLink("Next >>", "AdminPanel", new { n1_name = @Request.QueryString["n1_name"], msg = "Admin Panel", prev = @ViewBag.form_id - 1, next = @ViewBag.form_id - 10 }, new { @class = "btn btn-info" })
                @Html.ActionLink("<< Previous", "AdminPanel", new { n1_name = @Request.QueryString["n1_name"], msg = "Admin Panel", prev = Convert.ToInt32(Request.QueryString["next"]) + 19, next = Convert.ToInt32(Request.QueryString["next"]) + 10 }, new { @class = "btn btn-info", @style = "float:right;" })
            }
        }*@
    </div>
</div>
