@model newrisourcecenter.Models.LastLoginReportViewModel 
@{
    ViewBag.Title = "Users Last Login Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    long siteRole = Convert.ToInt64(Session["siteRole"]);
    long adminRole = Convert.ToInt64(Session["userRole"]);
    long companyId = Convert.ToInt64(Session["companyId"]);
}
<script>
    function getLink(href) {
        window.location.href = href;
    }

    jQuery(document).on('change', '.company-search', function (e) {
        filterCmpany();
    });

    jQuery(document).on('click', '.btn-company-filter', function (e) {
        e.preventDefault();
        filterCompany();
        return false;
    });

    function filterCompany() {
        var comp = jQuery('.company-search').val();
        if (comp == '')
            return;
        var opt = jQuery('datalist#companies option[value="' + comp + '"]');
        if (opt.length == 0)
            return;
        getLink(opt.attr('data-href'));
    }
</script>

@if (User.IsInRole("Super Admin") || User.IsInRole("Local Admin") || User.IsInRole("Global Admin"))
{
    <table>
        <tr>
            @if (User.IsInRole("Super Admin") || User.IsInRole("Local Admin") && User.IsInRole("Rittal User") || User.IsInRole("Global Admin"))
            {
                <td>
                    <div style="display:flex;margin-right:10px;">
                        <input type="text" class="company-search" placeholder="Search Company...." list="companies" style="width:400px;max-width:400px;" />
                        <button class="btn btn-primary btn-company-filter" type="button">Filter</button>
                        <datalist id="companies">
                            @foreach (var item in @ViewBag.compData)
                            {
                                <option value="@item.name" data-href="?n1_name=@Request.QueryString["n1_name"]&compid=@item.id&msg=@item.name&comp_name=@item.name">@item.name</option>
                            }
                        </datalist>
                    </div>
                </td>
                if (!string.IsNullOrEmpty(Request.QueryString["compid"]))
                {
                    <td>
                        <div class="dropdown" style="display:inline-block;">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Filter By Locations
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var item in @ViewBag.locationsDatas)
                                {
                                    if (!string.IsNullOrEmpty(item.loc_name))
                                    {
                                        string name = item.loc_name;
                                        <li><a href="?n1_name=@Request.QueryString["n1_name"]&compid=@Request.QueryString["compid"]&locid=@item.loc_ID&msg=@name&comp_name=@Request.QueryString["comp_name"]" onclick="getLink(this.href); return false;">@name</a></li>
                                    }
                                    else
                                    {
                                        string name = Request.QueryString["comp_name"] + "-" + item.loc_city;
                                        <li><a href="?n1_name=@Request.QueryString["n1_name"]&compid=@Request.QueryString["compid"]&locid=@item.loc_ID&msg=@name&comp_name=@Request.QueryString["comp_name"]" onclick="getLink(this.href); return false;">@name</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                }
                <td>
                    @Html.ActionLink("Download CSV", "ExportLastLoginCSV", new { n1_name = @Request.QueryString["n1_name"], n2_name = @Request.QueryString["n2_name"], compid = @Request.QueryString["compid"], locid = @Request.QueryString["locid"] }, new { @class = "btn btn-primary", onclick = "getLink(this.href); return false;" })
                </td>
            }
            @if (ViewBag.showNext)
            {
                <td style="text-align:right;width:90%;">
                    @Html.ActionLink("Next >>", "LastLoginReport", new { n1_name = @Request.QueryString["n1_name"], n2_name = @Request.QueryString["n2_name"], next = @ViewBag.LastID, compid = @Request.QueryString["compid"], locid = @Request.QueryString["locid"], msg = @Request.QueryString["msg"], comp_name = @Request.QueryString["comp_name"] }, new { @class = "btn btn-primary", onclick = "getLink(this.href); return false;" })
                </td>
            }
        </tr>
    </table>
}
<p class="glyphicon glyphicon-star" style="color:#E50043;font-size:14px;"> - Administrator</p>

<div id="tabledata">
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <th>User ID</th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>Company</th>
                <th>Last Login</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.users.Count() > 0)
            {
                foreach (var item in Model.users)
                {
                    <tr>
                        <td>
                            @if (item.user_role == "Admin")
                            {
                                <span class="glyphicon glyphicon-star" style="color:red;"></span>
                            }
                        </td>
                        <td> @item.usr_ID</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usr_fName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usr_lName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usr_email)
                        </td>
                        <td>@(item.comp_ID.HasValue && Model.companyNames.ContainsKey(item.comp_ID.Value) ? Model.companyNames[item.comp_ID.Value] : "")</td>
                        <td>@(item.usr_lastLogin != null && item.usr_lastLogin.HasValue ? item.usr_lastLogin.Value.ToString() : "")</td>
                        <td>@(!item.inactive ? "Active" : "In-active")</td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="5">No users in the selected company</td></tr>
            }
        </tbody>
    </table>
</div>